.button {
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  width: 100%;
  box-shadow: 0 8px 16px rgba(8, 216, 153, 0.2);
  font-family: Manrope, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: $color-white;
  background-color: $color-accent1-primary;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  @include tablet {
    padding: 12px 32px;
    width: auto;
  }
}
