$color-accent1-primary: #08d899;
$color-text-primary: #092326;
$color-white: #fff;
$color-bg-light: #f0f5f5;
$color-stroke: #cdd2dd;
$color-text-secondary: #676767;
$color-text-tertiary: #959596;
$color-error: #ff3030;
$color-focus: #643296;
$color-focus-btn: #9873ff;
$color-disabled-bg: #e7ebf1;
$color-disabled-text: #949697;
$color-dividers: #e8e8f3;
$color-icons: #abb6b7;
