.blocks {
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 90px;

  @include desktop {
    display: grid;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 86px;
    max-width: 1300px;
    grid-gap: 20px;
    grid-template-columns: 970px 310px;
    grid-template-rows: 1fr 0.7fr;
  }
}
