.header {
  border: none;

  &__inner {
    display: grid;
    align-items: center;
    margin: 16px 20px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
      margin: 26px auto;
      max-width: 1300px;
    }
  }

  &__logo {
    grid-column: 1;

    @include tablet {
      display: block;
      margin: 0 auto;
      grid-column: 2;
    }
  }

  &__wallet {
    margin-left: auto;
    grid-column: 2;

    @include tablet {
      grid-column: 3;
    }
  }

  @include tablet {
    border-bottom: 1px solid $color-stroke;
  }
}
