.tablet {
  overflow-x: auto;
  margin-top: 30px;
  width: 100%;
  font-family: Inter, sans-serif;

  &__header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: grid;
    padding: 21px 0;
    background-color: $color-white;
    grid-template-columns: repeat(7, 96px);

    span {
      min-width: 96px;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: $color-text-tertiary;
    }

    @include tablet {
      grid-template-columns: repeat(7, 1fr);
    }
  }

  &__row {
    display: grid;
    border-bottom: 1px solid $color-dividers;
    width: 100%;
    grid-template-columns: repeat(7, 96px);

    span {
      padding: 21px 0;
      min-width: 96px;
      font-weight: 500;
      font-size: 14px;
      text-transform: capitalize;
      color: $color-text-primary;
    }

    @include tablet {
      grid-template-columns: repeat(7, 1fr);
    }
  }

  &__status {
    margin: 21px 0;
    border: 1px solid $color-stroke;
    border-radius: 4px;
    padding: 2px 4px;
    min-width: max-content;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    text-transform: capitalize;
    color: $color-text-secondary;

    &--filled {
      border: none;
      color: $color-white;
      background: $color-accent1-primary;
    }
  }

  &__button {
    margin: 21px 0;
    border: none;
    padding: 0;
    max-width: min-content;
    font-weight: 500;
    font-size: 14px;
    color: $color-text-primary;
    background-color: inherit;

    &--cancel {
      font-family: Manrope, sans-serif;
      line-height: 1.14;
      color: $color-accent1-primary;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
